<html>
  <head>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    
    <h2 style="color: crimson">pruduct_count = {{pruduct_count}}</h2>
    <h2 style="color: crimson">pruduct_count = {{pruduct_maxid}}</h2>
    <h2 style="color: crimson">pruduct_count = {{pruduct_avg_price}}</h2>
    <h2 style="color: crimson">pruduct_count = {{pruduct_sum_price}}</h2>
    <h2 style="color: crimson">product_count_by_collection = {{product_count_by_collection}}</h2>
    <h2 style="color: crimson">oredr count = {{order_count}}</h2>
    <h2 style="color: crimson">product_1_units_sold = {{product_1_units_sold}}</h2>
    <h2 style="color: crimson">customer_1_orders = {{customer_1_orders}}</h2>
    
  </body>
</html>
