<html>
  <head>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    
    
    <table>
      <tr style="background-color: darkslategray; color: aliceblue">
        <th>order id</th>
        <th>product id</th>
        <th>price</th>
        <th>quantity</th>
        <th>total</th>
      </tr>
      <tr style="background-color: rgb(66, 0, 0); color: aliceblue">
        <td>SUM</td>
        <td>- </td>
        <td>{{ t_unitprice.total_unitprice }}</td>
        <td>{{ t_quantity.total_quantity }}</td>
        <td>{{ total.total }}</td>
      </tr>
      {% for item in order_item %}

      <tr>
        <td>{{ item.order_id }}</td>
        <td>{{ item.product_id }}</td>
        <td>{{ item.unit_price }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.total_price }}</td>
      </tr>
      {% endfor %}
    </table>

    
  </body>
</html>
