<html>
  <head>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <a href="."><h1>Home</h1></a>

    <ul>
      <li>
        <a href="database_relational/">database_relational</a>
      </li>
      <li>
        <a href="Aggregating/">Aggregating</a>
      </li>
      <li>
        <a href="Annotate/">annotate</a>
      </li>
      <li>
        <a href="database_relational/">database_relational</a>
      </li>
      <li>
        <a href="Expression_Wrappers/">Expression_Wrappers</a>
      </li>
      <li>
        <a href="Grouping_Data/">Grouping_Data</a>
      </li>
      <li>
        <a href="Querying_Generic_Relationships/">Querying_Generic_Relationships</a>
      </li>
      <li>
        <a href="Creating_Objects/">Creating_Objects</a>
      </li>
      <li>
        <a href="Updating_Objects/">Updating_Objects</a>
      </li>
    </ul>
  </body>
</html>
